<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ourtime.name %>
</p>

<p>
  <strong>Rez:</strong>
  <%= @ourtime.rez %>
</p>

<p>
  <strong>Answ:</strong>
  <%= @ourtime.answ %>
</p>

<p>
  <strong>Ship:</strong>
  <%= @ourtime.ship %>
</p>

<%= link_to 'Edit', edit_ourtime_path(@ourtime) %> |
<%= link_to 'Back', ourtimes_path %>
