<h1>Listing prodtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prodtypes.each do |prodtype| %>
      <tr>
        <td><%= prodtype.name %></td>
        <td><%= link_to 'Show', prodtype %></td>
        <td><%= link_to 'Edit', edit_prodtype_path(prodtype) %></td>
        <td><%= link_to 'Destroy', prodtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prodtype', new_prodtype_path %>
