<h1>Список сотрудников</h1>

<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Отдел</th>
      <th>Внутр телефон</th>
      <th>Моб телефон</th>
      <th>Должность</th>
      <th>E-mail</th>
      <th>Enable?</th>
      <th>Комментарии</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.fio %></td>
        <td><%= employee.department==nil ? "" : employee.department.name %></td>
        <td><%= employee.intphone %></td>
        <td><%= employee.mobphone %></td>
        <td><%= employee.job %></td>
        <td><%= employee.email %></td>
        <td><%= employee.enable %></td>
        <td><%= employee.comment %></td>
        <td><%= link_to 'Показать', employee %></td>
        <td><%= link_to 'Изменить', edit_employee_path(employee) %></td>
        <td><%= link_to 'Удалить', employee, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый сотрудник', new_employee_path %>
