<h1>Сотрудники</h1>

<table>
  <thead>
    <tr>
      <th>Фамилия Имя Отчество</th>
      <th>Отдел</th>
      <th>Внутр. Тел.</th>
      <th>Моб. Тел.</th>
      <th>e-mail</th>
      <th>Должность</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.fio %></td>
        <td><%= employee.department.name %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.mobphone %></td>
        <td><%= employee.email %></td>
        <td><%= employee.job %></td>
        <td><%= link_to 'Изменить', edit_employee_path(employee) %></td>
        <td><%= link_to 'Удалить', employee, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать', new_employee_path %>
