<p id="notice"><%= notice %></p>

<p>
  <strong>Fio:</strong>
  <%= @employee.fio %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department_id %>
</p>

<p>
  <strong>Intphone:</strong>
  <%= @employee.intphone %>
</p>

<p>
  <strong>Mobphone:</strong>
  <%= @employee.mobphone %>
</p>

<p>
  <strong>Job:</strong>
  <%= @employee.job %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @employee.enable %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @employee.comment %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
