<h1>Listing reestrprihodovs</h1>

<table>
  <thead>
    <tr>
      <th>Kontragent</th>
      <th>Numbill</th>
      <th>Numprihoddoc</th>
      <th>Prihoddate</th>
      <th>Sendwithpech</th>
      <th>Givetoruk</th>
      <th>Givetobuh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reestrprihodovs.each do |reestrprihodov| %>
      <tr>
        <td><%= reestrprihodov.kontragent %></td>
        <td><%= reestrprihodov.numbill %></td>
        <td><%= reestrprihodov.numprihoddoc %></td>
        <td><%= reestrprihodov.prihoddate %></td>
        <td><%= reestrprihodov.sendwithpech %></td>
        <td><%= reestrprihodov.givetoruk %></td>
        <td><%= reestrprihodov.givetobuh %></td>
        <td><%= link_to 'Show', reestrprihodov %></td>
        <td><%= link_to 'Edit', edit_reestrprihodov_path(reestrprihodov) %></td>
        <td><%= link_to 'Destroy', reestrprihodov, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reestrprihodov', new_reestrprihodov_path %>
