<p id="notice"><%= notice %></p>

<p>
  <strong>Kontragent:</strong>
  <%= @reestrprihodov.kontragent %>
</p>

<p>
  <strong>Numbill:</strong>
  <%= @reestrprihodov.numbill %>
</p>

<p>
  <strong>Numprihoddoc:</strong>
  <%= @reestrprihodov.numprihoddoc %>
</p>

<p>
  <strong>Prihoddate:</strong>
  <%= @reestrprihodov.prihoddate %>
</p>

<p>
  <strong>Sendwithpech:</strong>
  <%= @reestrprihodov.sendwithpech %>
</p>

<p>
  <strong>Givetoruk:</strong>
  <%= @reestrprihodov.givetoruk %>
</p>

<p>
  <strong>Givetobuh:</strong>
  <%= @reestrprihodov.givetobuh %>
</p>

<%= link_to 'Edit', edit_reestrprihodov_path(@reestrprihodov) %> |
<%= link_to 'Back', reestrprihodovs_path %>
