<%= form_for(@orderpart) do |f| %>
  <% if @orderpart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderpart.errors.count, "error") %> prohibited this orderpart from being saved:</h2>

      <ul>
      <% @orderpart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <tr>
    <td>
      <div class="field">
        <%= f.label :Партномер %>
        <%= f.text_field :partnum %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :Описание %>
        <%= f.text_area :descr %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label "Кол-во" %>
        <%= f.number_field :qty %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label "Предв. цена продажи" %>
        <%= f.number_field :psaleprice %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :Поставщик %>
        <%= f.text_field :distrib %>
      </div>
    </td>
  </tr>
  <td>
    <div class="actions">
      <%= f.submit %>
    </div>
  </td>
  </table>
<% end %>
