<%= form_for(@orderpart) do |f| %>
  <% if @orderpart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderpart.errors.count, "error") %> prohibited this orderpart from being saved:</h2>

      <ul>
      <% @orderpart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <tr>
    <td>
      <div class="field">
        <%= f.label :Партномер %>
        <%= f.text_field :partnum %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :Описание %>
        <%= f.text_area :descr %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label "Кол-во" %>
        <%= f.number_field :qty %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label "Предв. цена продажи" %>
        <%= f.number_field :psaleprice %>
      </div>
    </td>
    <td>
      <div class="field">
        <%= f.label :Поставщик %>
        <%= f.text_field :distrib %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
     <div class="field">
       <%= f.label :Ответственный %>
       <%= f.number_field :doner_id %>
      </div>
    </td>
    <td>
    <div class="field">
      <%= f.label :Статус %>
      <%= f.number_field :state_id %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "Предв. время отв." %>
       <%= f.number_field :panswtime_id %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "Цена резерв" %>
       <%= f.number_field :rezprice %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "Валюта рез." %>
       <%= f.number_field :rezpricetype_id %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "Срок резерв" %>
       <%= f.number_field :reztime_id %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
     <div class="field">
       <%= f.label :НДС %>
       <%= f.number_field :nds %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "% безнал" %>
       <%= f.number_field :beznal %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "Время доставки" %>
       <%= f.number_field :pshiptime_id %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "Цена достав." %>
       <%= f.number_field :shipprice %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label :Конвертация %>
       <%= f.text_field :convertion %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label "Предв. маржа" %>
       <%= f.number_field :pmargin %>
      </div>
    </td>
    <td>
     <div class="field">
       <%= f.label :Комментарий %>
       <%= f.text_area :comment %>
      </div>
    </td>
    <td>
     <div class="actions">
       <%= f.submit %>
     </div>
    </td>
  </table>
<% end %>
