<h1>Listing orderparts</h1>

<table>
  <thead>
    <tr>
      <th>Partnum</th>
      <th>Descr</th>
      <th>Qty</th>
      <th>Psaleprice</th>
      <th>Distrib</th>
      <th>Doner</th>
      <th>State</th>
      <th>Panswtime</th>
      <th>Rezprice</th>
      <th>Rezpricetype</th>
      <th>Reztime</th>
      <th>Nds</th>
      <th>Beznal</th>
      <th>Pshiptime</th>
      <th>Shipprice</th>
      <th>Convertion</th>
      <th>Pmargin</th>
      <th>Comment</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderparts.each do |orderpart| %>
      <tr>
        <td><%= orderpart.partnum %></td>
        <td><%= orderpart.descr %></td>
        <td><%= orderpart.qty %></td>
        <td><%= orderpart.psaleprice %></td>
        <td><%= orderpart.distrib %></td>
        <td><%= orderpart.doner_id %></td>
        <td><%= orderpart.state_id %></td>
        <td><%= orderpart.panswtime_id %></td>
        <td><%= orderpart.rezprice %></td>
        <td><%= orderpart.rezpricetype_id %></td>
        <td><%= orderpart.reztime_id %></td>
        <td><%= orderpart.nds %></td>
        <td><%= orderpart.beznal %></td>
        <td><%= orderpart.pshiptime_id %></td>
        <td><%= orderpart.shipprice %></td>
        <td><%= orderpart.convertion %></td>
        <td><%= orderpart.pmargin %></td>
        <td><%= orderpart.comment %></td>
        <td><%= orderpart.order_id %></td>
        <td><%= link_to 'Show', orderpart %></td>
        <td><%= link_to 'Edit', edit_orderpart_path(orderpart) %></td>
        <td><%= link_to 'Destroy', orderpart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderpart', new_orderpart_path %>
