<p id="notice"><%= notice %></p>

<p>
  <strong>Partnum:</strong>
  <%= @orderpart.partnum %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @orderpart.descr %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @orderpart.qty %>
</p>

<p>
  <strong>Psaleprice:</strong>
  <%= @orderpart.psaleprice %>
</p>

<p>
  <strong>Distrib:</strong>
  <%= @orderpart.distrib %>
</p>

<p>
  <strong>Doner:</strong>
  <%= @orderpart.doner_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @orderpart.state_id %>
</p>

<p>
  <strong>Panswtime:</strong>
  <%= @orderpart.panswtime_id %>
</p>

<p>
  <strong>Rezprice:</strong>
  <%= @orderpart.rezprice %>
</p>

<p>
  <strong>Rezpricetype:</strong>
  <%= @orderpart.rezpricetype_id %>
</p>

<p>
  <strong>Reztime:</strong>
  <%= @orderpart.reztime_id %>
</p>

<p>
  <strong>Nds:</strong>
  <%= @orderpart.nds %>
</p>

<p>
  <strong>Beznal:</strong>
  <%= @orderpart.beznal %>
</p>

<p>
  <strong>Pshiptime:</strong>
  <%= @orderpart.pshiptime_id %>
</p>

<p>
  <strong>Shipprice:</strong>
  <%= @orderpart.shipprice %>
</p>

<p>
  <strong>Convertion:</strong>
  <%= @orderpart.convertion %>
</p>

<p>
  <strong>Pmargin:</strong>
  <%= @orderpart.pmargin %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @orderpart.comment %>
</p>

<p>
  <strong>Order:</strong>
  <%= @orderpart.order_id %>
</p>

<%= link_to 'Edit', edit_orderpart_path(@orderpart) %> |
<%= link_to 'Back', orderparts_path %>
