<h1>Список отедлов</h1>

<table>
  <thead>
    <tr>
      <th>Название отд.</th>
      <th>Продают?</th>
      <th>Закупают?</th>
      <th>Видят все заявки?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.saleright %></td>
        <td><%= department.purchaserright %></td>
        <td><%= department.viewallord %></td>
        <td><%= link_to 'Показать', department %></td>
        <td><%= link_to 'Изменит', edit_department_path(department) %></td>
        <td><%= link_to 'Удалить', department, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать отдел', new_department_path %>
