<h1>Изменить данные заявки</h1>
<% @wfirstcol="width:30px" %>
<% @wcol="width:50px" %>

<%= render 'form' %>

<%= form_tag(priemall_order_path(@order), method: "get") do %>
  <%= label_tag "срок ответа" %>
  <%= select_tag :panswtimeid, options_from_collection_for_select(Ourtime.where(answ: true), "id", "name") %>
  <%= submit_tag "Принять все" %>
<% end %>

<h2>Список входящих в заявку товаров</h2>
<table>
  <tr>
    <th style=<%= @wfirstcol %>>ID</th>
    <th>Партномер</th>
    <th>Описание</th>
    <th style=<%= @wcol %>>Кол-во</th>
    <th>Пред цен прод (руб)</th>
    <th>Поставщик</th>
    <th>Цена резерва (р)</th>
    <th>Ответственный</th>
    <th>Статус</th>
    <th>Срок резерв</th>
    <th>Пр срок достав</th>
    <th>Пред маржа</th>
  </tr>
  <% @order.orderparts.each do |orderpart| %>
    <tr bgcolor="<%= orderpart.state!=nil ? orderpart.state.color : "" %>">
      <th style=<%= @wfirstcol %>><%= orderpart.id %></th>
      <th><%= orderpart.partnum %></th>
      <th><%= orderpart.descr %></th>
      <th style=<%= @wcol %>><%= orderpart.qty %></th>
      <th><%= orderpart.psaleprice %></th>
      <th><%= orderpart.distributor==nil ? "" : orderpart.distributor.name %></th>
      <th><%= orderpart.rezpriceinru %></th>
      <th><%= orderpart.doner==nil ? "" : orderpart.doner.fio %></th>
      <th><%= orderpart.state==nil ? "" : orderpart.state.state %></th>
      <% @bgcolreztime="" %>
      <% if orderpart.reztime!=nil %>
        <% orderpart.reztime<DateTime.now.to_date ? @bgcolreztime="red" : @bgcolreztime="" %>
      <% end %>
      <th bgcolor="<%= @bgcolreztime %>"><%= orderpart.reztime %></th>
      <th><%= orderpart.pshiptime==nil ? "" : orderpart.pshiptime.name %></th>
      <th bgcolor="<%= orderpart.pmargincolor %>"><%= orderpart.pmargin %></th>
      <% if current_user.employee.department.saleright %>
        <th><%= button_to "Менеджер", [@order, orderpart], :method => 'get' %></th>
        <th><%= button_to "Отказ. менеджер", [:otkazm, @order, orderpart], method: 'get' %></th>
      <% end %>
      <% if current_user.employee.department.purchaserright %>
        <th><%= button_to "Закупщик", [:edit, @order, orderpart], :method => 'get' %></th>
      <% end %>
      <% if current_user.employee.admin %>
        <th><%= button_to "Удалить", [@order, orderpart], :method => 'delete' %></th>
      <% end %>
   </tr>
  <% end %>
  <tr>
    <%= form_for([@order, @order.orderparts.build]) do |f| %>
      <td style=<%= @wfirstcol %>></td>
      <td><%= f.text_field :partnum %></td>
      <td><%= f.text_field :descr %></td>
      <td style=<%= @wcol %>><%= f.number_field :qty, :style => @wcol %></td>
      <td><%= f.number_field :psaleprice %></td>
      <td><%= f.collection_select :distributor_id, Distributor.order('name ASC').all, :id, :name, include_blank: true %></td>
      <td></td>
      <td>Передано в ОЗ</td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= f.submit "Добавить товар" %></td>
    <% end %>
  </tr>
</table>

<%#= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
