<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Мэнеджер</th>
      <th>Номер счета</th>
      <th>Ответственный ОЗ</th>
      <th>Доп. расход</th>
      <th>Предв. время/дата</th>
      <th>Предв. маржа</th>
      <th>Статус</th>
      <th>Комментарии</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr bgcolor="<%= order.statereserv_id!=nil ? order.statereserv.color : "white" %>">
        <td><%= order.manager_id!=nil ? order.manager.fio : "" %></td>
        <td><%= order.numbill %></td>
        <%# убрал purchaser т.к. это будет уже в отгрузке не забыть удалить из модели%>
        <td><%= order.doner_id!=nil ? order.doner.fio : "" %></td>
        <%# убрал shipprice т.к. это будет в кажой позиции %>
        <td><%= order.addrate %></td>
        <td><%= order.datetimedone %></td>
        <td><%= order.margin %></td>
        <td><%= order.statereserv_id!=nil ? order.statereserv.status : "" %></td>
        <td><%= order.comments %></td>
        <td><%= link_to 'Изм менеджер', editm_order_path(order) %></td>
        <td><%= link_to 'Изм закупщик', editz_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
