<h1>Заявки на резервирование</h1>

<%#= link_to 'Создать заявку на резерв', new_order_path %>
<%= form_for(Order.new) do |f| %>
  <div class="field">
    <%= f.label :Менеджер %>
    <%= f.collection_select :manager_id, Employee.includes(:department).where("departments.saleright" => true), :id, :fio %>
    <%= f.label "Номер счет" %>
    <%= f.text_field :numbill %>
    <%= f.submit %>
  </div>
<% end %>  

<table>
  <thead>
    <tr>
      <th>Номер счет</th>
      <th>Менеджер</th>
      <th>Ответ. закупщик</th>
      <th>Статус</th>
      <th>Доп. расход</th>
      <th>Сумма зак.</th>
      <th>Пред. маржа</th>
      <th>Комментарии</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr bgcolor="<%= order.orderstate==nil ? "" : order.orderstate.color %>">
        <td><%= order.numbill %></td>
        <td><%= order.manager==nil ? "" : order.manager.fio %></td>
        <td><%= order.doner==nil ? "" : order.doner.fio %></td>
        <td><%= order.orderstate==nil ? "" : order.orderstate.state %></td>
        <td><%= order.addrate %></td>
        <td><%= order.sum %></td>
        <td><%= order.pmargin %></td>
        <td><%= order.comment %></td>
        <td><%= link_to 'Показать', order %></td>
        <td><%= link_to 'Изменить', edit_order_path(order) %></td>
        <td><%#= link_to 'Удалить', order, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

