<p id="notice"><%= notice %></p>

<p>
  <strong>Partnum:</strong>
  <%= @zakupkapart.partnum %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @zakupkapart.descr %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @zakupkapart.qty %>
</p>

<p>
  <strong>Psaleprice:</strong>
  <%= @zakupkapart.psaleprice %>
</p>

<p>
  <strong>Doner:</strong>
  <%= @zakupkapart.doner_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @zakupkapart.state_id %>
</p>

<p>
  <strong>Rezprice:</strong>
  <%= @zakupkapart.rezprice %>
</p>

<p>
  <strong>Rezpricetype:</strong>
  <%= @zakupkapart.rezpricetype_id %>
</p>

<p>
  <strong>Nds:</strong>
  <%= @zakupkapart.nds %>
</p>

<p>
  <strong>Beznal:</strong>
  <%= @zakupkapart.beznal %>
</p>

<p>
  <strong>Pshiptime:</strong>
  <%= @zakupkapart.pshiptime_id %>
</p>

<p>
  <strong>Shipprice:</strong>
  <%= @zakupkapart.shipprice %>
</p>

<p>
  <strong>Convertion:</strong>
  <%= @zakupkapart.convertion %>
</p>

<p>
  <strong>Pmargin:</strong>
  <%= @zakupkapart.pmargin %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @zakupkapart.comment %>
</p>

<p>
  <strong>Order:</strong>
  <%= @zakupkapart.order_id %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @zakupkapart.distributor_id %>
</p>

<p>
  <strong>Idorddistrib:</strong>
  <%= @zakupkapart.idorddistrib %>
</p>

<%= link_to 'Edit', edit_zakupkapart_path(@zakupkapart) %> |
<%= link_to 'Back', zakupkaparts_path %>
