<h1>Реестр отгрузочных документов</h1>

<table>
  <thead>
    <tr>
      <th>Контрагент</th>
      <th>№ счета</th>
      <th>№ отгрузочных док</th>
      <th>Дата отправки клиенту</th>
      <th>Дата получения от клиента</th>
      <th>Дата отправки бухгалтеру</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reestrotgruzoks.each do |reestrotgruzok| %>
      <%= form_for(reestrotgruzok) do |f1| %>
      <tr>
        <td><%= reestrotgruzok.kontragent!="" ? reestrotgruzok.kontragent : f1.text_field("kontragent") %></td>
        <td><%= reestrotgruzok.numbill!="" ? reestrotgruzok.numbill : f1.text_field("numbill") %></td>
        <td><%= reestrotgruzok.numotgruzdoc!="" ? reestrotgruzok.numotgruzdoc : f1.text_field("numotgruzdoc") %></td>
        <td><%= reestrotgruzok.sendtoclient!=nil ? reestrotgruzok.sendtoclient : f1.date_field("sendtoclient") %></td>
        <td><%= reestrotgruzok.resievedate!=nil ? reestrotgruzok.resievedate : f1.date_field("resievedate") %></td>
        <td><%= reestrotgruzok.sendtobuh!=nil ? reestrotgruzok.sendtobuh : f1.date_field("sendtobuh") %></td>
        <td><%= f1.submit %></td>
        <% if user_signed_in? && current_user.employee.admin %>
        <td><%= link_to 'Destroy', reestrotgruzok, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    <tr>
      <%= form_for(Reestrotgruzok.new) do |f| %>
        <% if @reestrotgruzok!=nil && @reestrotgruzok.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@reestrotgruzok.errors.count, "error") %> prohibited this reestrotgruzok from being saved:</h2>
  
            <ul>
            <% @reestrotgruzok.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <td>
          <div class="field">
            <%# f.label :kontragent %><br>
            <%= f.text_field :kontragent %>
          </div>
        </td>
        <td>
          <div class="field">
            <%# f.label :numbill %><br>
            <%= f.text_field :numbill %>
          </div>
        </td>
        <td>
          <div class="field">
            <%# f.label :numotgruzdoc %><br>
            <%= f.text_field :numotgruzdoc %>
          </div>
        </td>
        <td>
          <div class="field">
            <%# f.label :sendtoclient %><br>
            <%= f.date_field :sendtoclient %>
          </div>
        </td>
        <td>
          <div class="field">
            <%# f.label :resievedate %><br>
            <%= f.date_field :resievedate %>
          </div>
        </td>
        <td>
          <div class="field">
            <%# f.label :sendtobuh %><br>
            <%= f.date_field :sendtobuh %>
          </div>
        </td>
        <td>
          <div class="actions">
            <%= f.submit %>
          </div>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>
