<p id="notice"><%= notice %></p>

<p>
  <strong>Kontragent:</strong>
  <%= @reestrotgruzok.kontragent %>
</p>

<p>
  <strong>Numbill:</strong>
  <%= @reestrotgruzok.numbill %>
</p>

<p>
  <strong>Numotgruzdoc:</strong>
  <%= @reestrotgruzok.numotgruzdoc %>
</p>

<p>
  <strong>Sendtoclient:</strong>
  <%= @reestrotgruzok.sendtoclient %>
</p>

<p>
  <strong>Resievedate:</strong>
  <%= @reestrotgruzok.resievedate %>
</p>

<p>
  <strong>Sendtobuh:</strong>
  <%= @reestrotgruzok.sendtobuh %>
</p>

<%= link_to 'Edit', edit_reestrotgruzok_path(@reestrotgruzok) %> |
<%= link_to 'Back', reestrotgruzoks_path %>
