<!DOCTYPE html>
<html>
<head>
  <title>B2B Miracle-Systems</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Вы находитесь в B2B Miracle-systems</h1>
<% if user_signed_in? %>
  <span>Здравствуйте, <%= current_user.email %></span>
  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'Войти', new_user_session_path %>
<% end %>
<br>
<table>
  <th>
    <div style="display:inline-block;"><%= button_to "Главная", :root, method: 'get' %></div>
    <div style="display:inline-block;"><%= button_to "Резервирование", :orders, method: 'get' %></div>
    <div style="display:inline-block;"><%= button_to "Сотрудники", :employees, method: 'get' %></div>
    <% if user_signed_in? && current_user.employee.admin %>
      <div style="display:inline-block;"><%= button_to "Дистрибьюторы", :distributors, method: 'get' %></div>
    <% end %>
  </th>
</table>

<%= yield %>

</body>
</html>
